body {
    color: white;
    font-family: Kanit;
    text-align: center;
    height: 100%;
  }
  
  h1 {
    color: rgba(255, 255, 255, .9);
    font-size: 70px;
    text-shadow: 7px 2px 10px rgba(0, 0, 0, .8);
  }
  
  h2 {
    color: rgba(255, 255, 255, .9);
    font-size: 35px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .9);
    margin: 5px 5px 5px 5px;
  }
  
  p {
    font-size: 15px;
    color: rgba(255, 255, 255, .9);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
  }
  
  a {
    color: rgba(255, 255, 255, .9);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .9);
  }
  
  a:hover {
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .9);
  }
  
  a:visited {
    color: rgba(255, 255, 255, .9);
  }
  
  #temp {
    transition-duration: .5s;
  }
  
  #background {
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .large {
    font-size: 100px;
    color: rgba(255, 255, 255, .9);
    text-shadow: 2px 5px 7px rgba(0, 0, 0, .8);
    margin: 5px 5px 5px 40px; 
  }
  
  .btn {
    border: 2px solid rgba(255, 255, 255, 1);
    width: 120px;
    margin: 20px;
  }
  
  .btn:hover {
    border: 2px solid rgba(255, 255, 255, .4);
  }
  
  .btn:active {
    color: rgba(255, 255, 255, .6);
  }
  
  .buttons {
    flex-grow: 0;
  }
  
  .container {
    bottom: 0;
  }
  
  .bottom-space {
    margin-bottom: 10px;
  }
  
  #moreData {
    opacity: 0;
    transition: 2s ease-in-out;
  }
  
  .america {
    display: none;
  }
  
  .world {
    display: block;
  }

.on {
  display: inline;
}

.off {
  display: none;
}