@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,100');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.min.css');

body {
    color: white;
    font-family: 'Roboto';
    text-align: center;
    background: #0D47A1;
  }

  .container-fluid {
    padding: 2em;
  }

  .search {
    margin-top: 2em;
    border: none;
    background: transparent;
  }

  h2 {
    font-size: 30px;
  }

  .location {
    margin-top: 2em;
    margin-bottom: -.9em;
    margin-right: 10%;
  }
  
  hr {
    border: 0; 
    margin-top: 3%;
    margin-left: 25%;
    height: 1px;
    width: 60%;
    background-image: -webkit-linear-gradient(left, steelblue, white, steelblue);
    background-image: -moz-linear-gradient(left, steelblue, white, steelblue);
    background-image: -ms-linear-gradient(left, steelblue, white, steelblue);
    background-image: -o-linear-gradient(left, steelblue, white, steelblue); 
  }

  .icons {
    padding-top: 1em;
    padding-left: 7%;
    margin-right: -2em;
  }

  .temps {
    justify-content: center;
  }

  .tempType {
    margin-top: 1.4em;
    margin-left: -2.3em;
    margin-right: -2.3em;
  }

  .btn {
    color: rgba(255, 255, 255, 1);
    margin: -7px;
    margin-top: -13px;
    font-size: 25px;
    text-align: center;
    outline: none;
  }

  .btn:hover {
    color: white;
  }

  .divider {
    font-size: 25px;
  }

  .currentTemp {
    font-size: 65px;
    color: rgba(255, 255, 255, 1);
    text-align: right;
  }

  .conditions {
    margin-right: -2em;
  }

  .forecast {
    padding-left: 35%;
    padding-right: 20%;
    justify-content: center;
  }

  .high {
    padding-left: 35%;
    padding-right: 20%;
    justify-content: center;
  }

  .low {
    padding-left: 35%;
    padding-right: 20%;
    justify-content: center;
  }

  .on {
    color: rgba(255, 255, 255, 1);
  }

  .off {
    color: rgba(255, 255, 255, .4);
  }
  
